{% extends "account/basic.html" %}
{% block content %}
<div class="col-md-1"></div> 
<div class="col-md-7 divcommun" style="	margin-top:20px; width: 70%">
   <p style="font-size :20px">
         Hello Mr, <br/><br/>
         My name's ZARROUD Yassine,
    i'm from Morocco and i'm living in Temara city,
    but i'm originally from Moulay bousselham.
    I'm still not married, i have licence driving.
    Concerning my studies i obtained my bachlor degree in 2010
    in Mecanical Scientific Technichals, after this year I choosen
	Technical Engeenering Science as speciality, after too years in TSI CPGE
	I integrate ENIM School when I contued my Engeenering studies in Computer
	Science; during those three years i learned many many things:
	<br/><br/>	
	      Firstly in primary year I profited from multipurpose formation,
	when I mecanic science , electricity science , hydrolic science and computer science.
    and at the end of year I profited from training in assistning
	technical operation and report of thrmic motor description.
	<br/><br/>	
          During the second year at ENIM school I started studing Computer Science,
	when I have seen many moduls about devloppement and BI and Internet Network,
	and at the end of year I profited from a good training which was in the Energie Minister
	it was about creating a web application for managing minister's rooms reservation.
    the big problem for me was my big ignorance in this domain of devlopping web application
    because I was obliged to use a new technology which is .NET technology	and it the first experience for me 
	. But step by step I have accomplished my web app saccesfully.
	<br/><br/>
	      Finally in the third year which was the last year,
	I learned many things during as how to proceed when you wont to create wabapp project....
	at the end of year I profited from a good training which was about adaptation of an ERP LIMS 
	our tasks were divided in moduls :
	<br/>
		- the First was Reporting <br/>
		- the Second was ETL<br/>
		- the Third was HIM <br/>
	 <br/><br/>
	      To conclude if you choose me I will be able to solve your web app problems du my quick understanding and my patience
	and my capacity of persistence, I never give up at last time I  try it.
    </p><br/>
</div>	
{% endblock %}